# This is Git's per-user configuration file.
[user]
	gmail = grumbachraphael@gmail.com
	email = grumbachraphael@gmail.com
	name = Raphael Grumbach
# Please adapt and uncomment the following lines:
#	name = Raphael
#	email = grumbachraphael@gmail.com
[core]
	editor = nvim
	preloadIndex = false
	protectNTFS = false
	pager = delta
	hooksPath = /Users/raphael/dotfiles/git/hooks
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[merge]
	tool = nvimdiff
	conflictStyle = zdiff3
[pack]
	threads = 1
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	features = catppuccin-mocha
	side-by-side = true
[include]
	path = /Users/raphael/.config/delta/catppuccin.gitconfig
[coderabbit]
	machineId = cli/bcbd717c2dab45b0a7ee42e3102fec1e
