# This is Git's per-user configuration file.
[user]
	gmail = grumbachraphael@gmail.com
	email = grumbachraphael@gmail.com
	name = Raphael Grumbach
# Please adapt and uncomment the following lines:
#	name = Raphael
#	email = grumbachraphael@gmail.com
[core]
	editor = nvim
	preloadIndex = false
	protectNTFS = false
	pager = delta
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[merge]
	tool = nvimdiff
	conflictStyle = zdiff3
[pack]
	threads = 1
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	features = catppuccin-mocha
	side-by-side = true
[include]
	path = /Users/raphael/.config/delta/catppuccin.gitconfig
[credential "https://github.com"]
	helper = 
	helper = !/home/raphael/.local/share/mise/installs/gh/2.97.0/gh_2.97.0_linux_amd64/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/raphael/.local/share/mise/installs/gh/2.97.0/gh_2.97.0_linux_amd64/bin/gh auth git-credential
